<html>
	<head>
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/Vendor/animate/animate.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/Vendor/css-hamburgers/hamburgers.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/Vendor/animsition/css/animsition.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/Vendor/select2/select2.min.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/Vendor/daterangepicker/daterangepicker.css">
		<!--===============================================================================================-->
		<link rel="stylesheet" type="text/css" href="~/css/util.css">
		<link rel="stylesheet" type="text/css" href="~/css/main.css">
		<link href="~/Images/iphone-12-apple-01.jpeg_554688468.jpeg" rel="stylesheet" />
		<!--===============================================================================================-->
	</head>

	<style>
		.login100-more{
			background-image: url(~/Images/iphone-12-apple-01.jpeg_554688468.jpeg);
		}
	</style>

	<body style="background-color: #666666;">

		<div class="limiter">
			<div class="container-login100">
				<div class="wrap-login100">
					<form class="login100-form validate-form" asp-controller="Home" asp-action="Login" method="post">
						<span class="login100-form-title p-b-43">
							Login to continue
						</span>


						<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
							<input class="input100" type="text" name="Correo">
							<span class="focus-input100"></span>
							<span class="label-input100">Email</span>
						</div>


						<div class="wrap-input100 validate-input" data-validate="Password is required">
							<input class="input100" type="password" name="Contrasena">
							<span class="focus-input100"></span>
							<span class="label-input100">Password</span>
						</div>


						<div class="container-login100-form-btn">
							<button class="login100-form-btn">
								Login
							</button>
						</div>

						<div class="text-center p-t-46 p-b-20">
							<span class="txt2">
								or sign up using
							</span>
						</div>
					</form>

					<div class="login100-more">
					</div>
				</div>
			</div>
		</div>





		<!--===============================================================================================-->
		<script src="~/Vendor/jquery/jquery-3.2.1.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/Vendor/animsition/js/animsition.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/Vendor/bootstrap/js/bootstrap.js"></script>
		<script src="~/Vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/Vendor/select2/select2.min.js"></script>
		<!--===============================================================================================-->
		<script src="~/Vendor/daterangepicker/moment.min.js"></script>
		<script src="~/Vendor/daterangepicker/daterangepicker.js"></script>
		<!--===============================================================================================-->
		<script src="~/Vendor/countdowntime/countdowntime.js"></script>
		<!--===============================================================================================-->
		<script src="~/js/main.js"></script>
		</body>
</html>