@model PeroShopWeb.Models.ProductosViewModel
@{
    Layout = "_LayoutAdmin2";
}



<!DOCTYPE html>

<html lang="en">
    <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#combobox1').on("change", function () {
                var valor = $(this).val();
                var idprod = '@ViewBag.idprod';
                $.ajax({
                    type: 'GET',
                    url: '/api/Combos/ValorCombos',
                    data: { valor: valor, idprod: idprod },
                    success: function (response) {
                        var data = response;
                        var combobox2 = $('#combobox2');
                        combobox2.empty();
                        $.each(data, function (index, item) {
                            combobox2.append($('<option>', {
                                value: item.value,
                                text: item.text
                            }));
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
    </head>
<body>
    <main class="container">
        <div class="my-3 p-3 bg-light rounded shadow-sm">
            <h1>Agregar caracteristicas</h1>
            <form class="needs-validation" novalidate method="post" enctype="multipart/form-data">
                <div class="row g-3">
                    <div class="col-md-5">
                        <label class="form-label">Color del Producto</label>
                        <select name="idcolor" class="form-select" id="combobox1" required>
                            <option value="">Color...</option>
                            @foreach(var u in Model.ProductoColors){
                                <option value="@u.ID">@u.Color</option>
                            }
                        </select>
                        <div class="invalid-feedback">
                            Seleccione una Color válida.
                        </div>
                    </div>
                    @if (ViewBag.Categoria == "Telefonos")
                    {
                        <div class="col-md-5">
                            <label class="form-label">Almacenamiento del Producto</label>
                            <select name="idalmacenamiento" class="form-select" id="combobox2" required>
                                <option value="">Almacenamiento...</option>

                            </select>
                            <div class="invalid-feedback">
                                Seleccione un Almacenamiento válida.
                            </div>
                        </div>
                    }

                    <div class="col-md-4">
                        <label class="form-label">Precio del producto</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input name="PrecioVenta" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" required>
                            <span class="input-group-text">MXN</span>
                        </div>
                        <div class="invalid-feedback">
                            Coloque un precio.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Seleccione las imagenes que llevara el producto</label>
                            <input name="Imagen" class="form-control" type="file" id="formFileMultiple" multiple>
                        </div>
                        <div class="invalid-feedback">
                            Zip code required.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Cantidad</label>
                        <br />
                        <input name="Stock" type="number" id="Existencia" required />
                        <div class="invalid-feedback">
                            Seleccione una cantidad.
                        </div>
                    </div>
                </div>

                <div class="col-sm-12">
                    <div class="form-group">
                        <label>Descripción del producto</label>
                        <textarea name="Caracteristicas" class="form-control" id="Descripcion" rows="3" required></textarea>
                    </div>
                    <div class="invalid-feedback">
                        Se requiere una descripción.
                    </div>
                </div>

                <hr class="my-4">

                <button asp-controller="Admin" asp-action="AgregaCaracteristicas" method="post" class="w-100 btn btn-primary btn-lg" type="submit">Agregar caracteristicas del Producto</button>
            </form>
            <br />
            <h1>@ViewBag.Mensaje</h1>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="~/js/form-validation.js"></script>
    
</body>
</html>